*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tahoma , Geneva, Verdana, sans-serif;
}

header
{
    display: flex;
    height: 12vh;
    width: 100%;
    justify-content: space-between;
    
}

.lefth
{
    display: flex;
    height: auto;
    width: auto;
}

.logo
{
    height: auto;
    width: auto;
    /* margin: 10px; */
    margin-left: 40px;
    margin-top: auto;
    margin-bottom: auto;
}

.logo img
{
    height: 50px;
    width: 50px;
}

.logodesc
{
    height: auto;
    width: auto;
    margin: auto;
}

.logodesc span
{
    font-size: 30px;
    font-weight: normal;
    color: rgb(17, 201, 201);
    letter-spacing: 3px;
}

.righth
{
    display: flex;
    height: auto;
    width: auto;
    float: left;
    align-items: center;
}

.righth ul
{
    display: flex;
    list-style-type: none;
}

.righth ul li
{
    margin: auto 10px;
    display: flex;
    align-items: center;
}

.righth ul li a
{
    text-decoration: none;
    color: black;
    font-weight: 550;
}

.righth ul li :hover
{
   color: rgb(17, 201, 201);
   border-color: rgb(17, 201, 201);
}

.arrow
{
    height: 7px;
    width: 7px;
    transform: rotate(45deg);
    margin-left: 5px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    right: 0;
}


.headerjoin
{
    height: 100%;
    width: auto;
    background-color: rgb(17, 201, 201);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.headerjoin a
{
    /* margin: auto 60px; */
    text-decoration: none;
    color: white;
    font-size: large;
    margin-left: 40px;
    margin-right: 15px;
}

.joinarrow
{
    height:auto;
    width: auto;
    margin-right: 40px;
}

.joinarrow img
{
    height: 16px;
    width: 12px;
   
}



main
{
    height:100vh;
    width: 100%;
    background-image: url(../Images/gradutation.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}


.color
{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
}

.mainb
{
    position: absolute;
    width: 50%;
    height: auto;
    padding-left: 5% ;
    top: 50%;
    left: 0;
    transform: translate(0,-50%);
  
}

.mb1
{
    width: auto;
    height: auto;

}

.mb1 span
{
    color: rgb(17, 201, 201);
    font-weight: normal;
    font-size: larger;
}

.mb2
{
    width: auto;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;

}

.mb2 span
{
    font-family:  cursive;
    font-size: 60px;
    color: white;
    font-weight: 500;
}


.mb3
{
    width: auto;
    height: auto;
    margin-bottom: 20px;

}


.mb3 span
{
    font-size:larger;
    color: white;
    font-weight: 500;
}

.mb4
{
    width: auto;
    height: auto;
}

.mb4 button
{
    height: 60px;
    width: 180px;
    margin-right: 10px;
    font-size: large;
    border: 0;
}

.mb4b1
{
    background-color: rgb(17, 201, 201);
}

.fbarrow
{
    position: absolute;
    height: 50%;
    width: 5%;
    top: 50%;
    right: 8%;
    transform: translate(0,-50%);
   
}

.fbf
{
    width: 50px;
    height:50px;
    border: 1px solid white;
    position: relative;
    margin-bottom: 20px;
    margin-top: 80px;
}

.fbf div
{
    height: 35%;
    width: 35%;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-25%,-50%) rotate(45deg) ;
    
    
   
}

.fbb
{
    width: 50px;
    height:50px;
    border: 1px solid white;
    position: relative;
}

.fbb div
{
    height: 35%;
    width: 35%;
    border-left: 1px solid white;
    border-top: 1px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-75%,-50%) rotate(135deg) ;   
}

.available
{
    height: 55vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 6%;
    padding-right: 6%;


}

.avail1
{
    height: 70%;
    width: 22%;
    background-color: rgba(61, 175, 175, 0.1);
    text-align: center;
}

.avail1 img
{
    height: 60px;
    width: 60px;
    margin-top: 20px;
}

.avail1 h2
{
    margin-top:10px;
    margin-bottom: 10px;
    font-weight: medium;
}

.avail1 div span
{
    color: gray;
}

.aboutus
{
    height: 70vh;
    width: 100%;
    padding: 0 6%;
    display: flex;
    align-items: center;
}

.auimg
{
    width: 50%;
    height: 100%;
}

.auimg img
{
    width: 95%;
    height: 100%;

}


.audesc
{
    width: 50%;
    height: auto;
}

.abus1
{
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
}

.abus1 span
{
    font-size: large;
    color: rgb(17, 201, 201);
}



.abus1 div
{
    height: 15px;
}

.abline1
{
    width: 70px;
    border-bottom: 2px solid rgb(17, 201, 201);
    border-top: 2px solid rgb(17, 201, 201);
    margin-left: 20px;
}

.abline2
{
    width: 30px;
    border-bottom: 2px solid rgb(17, 201, 201);
}

.abus2
{
    width: 100%;
    
}
.abus2 h1
{
    font-family: cursive;
    font-size: 40px;
    margin: 20px 0;
}


.abus3
{
    display: flex;
    height: auto;
    width: 100%;
    justify-content: space-between;
}

.abuslistleft
{
    height: auto;
    width: auto;
}

.abuslistleft ul
{
    height: auto;
    width: auto;
    list-style: none;
    margin: 30px 0;
    margin-left: 20px;
    
}

.abuslistleft ul li
{
    position: relative;
    width: auto;
    height: auto;
    margin: 15px 0;
}


.abuslistleft ul li::before 
{
    content: '';
    background-image: url(../Images/arrow-pointing-to-right.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 20px;
    width: 15px;
    left: -20px;
}

.abusbutton
{
    height: 60px;
    width: 180px;
    margin-right: 10px;
    font-size: large;
    border: 0;
    background-color: rgb(17, 201, 201);
}


.categories
{
    height: 100vh;
    width: 100%;
    padding: 0 6%;
}

.cgsheading
{
    height: 20vh;
    width: 100%;
    text-align: center;
}

.cgshead
{
    display: flex;
    align-items: center;
    margin: 20px auto;
    height: auto;
    width: 100%;
    justify-content: center;

}

.cgshead span
{
    margin-right: 20px;
    margin-left: 20px;
    font-size: large;
    color: rgb(17, 201, 201);
}


.cgsheading div h1
{
    font-family: cursive;
    font-size: 40px;
}

.bln
{
    width: 70px;
    height: 12px;
    border-bottom: 2px solid rgb(17, 201, 201);
    border-top: 2px solid rgb(17, 201, 201);
}

.sln
{
    height: 12px;
    width: 30px;
    border-bottom: 2px solid rgb(17, 201, 201);
}


.cgsimg
{
    height: auto;
    width: 100%;
    display: flex;
}


.cgsl
{
    height: 70vh;
    width: 60%;
}

.cgsr
{
    height: 70vh;
    width: 40%;
    background-color: rgb(40, 68, 68);
    background-image: url(../Images/marketing.jpg);
    background-position: center;
    background-size: cover;
    position: relative;

}


.cgsltop
{
    height: 48%;
    width: 100%;
    margin-bottom:2.8vh;
    background-image: url(../Images/web\ develop.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}


.cgslbtm
{
    height: 48%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.coursedet
{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: white;
    text-align: center;
    width: 180px;
    height: 70px;
    margin: 2px;
}

.coursedet h3
{
    margin: 10px auto;

}

.coursedet span
{
    color: rgb(17, 201, 201);

}

.cgbtl
{
    background-image: url(../Images/graphic\ design.jpg);
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 49%;
    position: relative;
}

.cgbtr
{
    background-image: url(../Images/video\ editing.jpg);
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 48%;
    position: relative;
}


.populardet
{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.popdet
{
    height: 70vh;
    width: 30%;
    background-color: rgba(61, 175, 175, 0.1);
}

.ppdetimg
{
    height: 50%;
    width: 100%;
    background-image: url(https://images.pexels.com/photos/1205651/pexels-photo-1205651.jpeg?auto=compress&cs=tinysrgb&w=600) ;
    background-size: cover;
    background-position: center;
    position: relative;
}

.ppimover
{
    height: 30px;
    width: 200px;
    background-color: rgb(17, 201, 201);
    border-radius: 20px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
}

.imovl
{
    height: 100%;
    width: 50%;
    border-right: 1px solid rgba(255, 255, 255,0.6) ;
    display: flex;
    align-items: center;
    justify-content: center;

}

.imovl span
{
    color: white;
}

.imovr
{
    height: 100%;
    width: 50%;
    border-left: 1px solid rgba(255, 255, 255,0.6) ;
    display: flex;
    align-items: center;
    justify-content: center;

}

.imovr span
{
    color: white;
}

.ppimdt
{
    height: 50%;
    width: 100%;
    background-color: rgba(140, 207, 207, 0.1);
    text-align: center;
}

.ppimdt h1
{
    padding-top: 20px;
}

.ppimdt h3
{
    padding-top: 20px;
}

.ppimdt p span
{
font-size: large;
color: rgb(17, 201, 201);
}


.ppdetimg2
{
    height: 50%;
    width: 100%;
    background-image: url(https://images.pexels.com/photos/3861972/pexels-photo-3861972.jpeg) ;
    background-size: cover;
    background-position: center;
    position: relative;

}


.ppdetimg3
{
    height: 50%;
    width: 100%;
    background-image: url(https://images.pexels.com/photos/4974914/pexels-photo-4974914.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) ;
    background-size: cover;
    background-position: center;
    position: relative;

}


.instructor
{
    height: 80vh;
}

.instr
{
    height: auto;
    width: auto;
    display: flex;
    justify-content: space-between;
}

.instrdet
{
    height: 50vh;
    width: 20%;
    background-color: rgba(140, 207, 207, 0.1);
}

.ipht1
{
    height: 70%;
    width: 100%;
    background-color: azure;
    background-image: url(https://images.pexels.com/photos/5212317/pexels-photo-5212317.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-position: center;
    position: relative;

}

.incnt
{
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #f3fafa;
}

.fb
{
    height: 80%;
    width: 22%;
    background-image: url(../Images/facebook\ \(1\).png);
    background-position: center;
    background-size: cover;
    
}

.instm
{
    height: 80%;
    width: 22%;
    background-image: url(../Images/instagram\ \(1\).png);
    background-position: center;
    background-size: cover;
    
}

.twt
{
    height: 80%;
    width: 22%;
    background-image: url(../Images/twitter-sign.png);
    background-position: center;
    background-size: cover;
    
}

.detinst
{
    padding-top: 20px;
    text-align: center;
}

.ipht2
{
    height: 70%;
    width: 100%;
    background-color: azure;
    background-image: url(https://images.pexels.com/photos/8617763/pexels-photo-8617763.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-position: center;
    position: relative;

}

.ipht3
{
    height: 70%;
    width: 100%;
    background-color: azure;
    background-image: url(https://images.pexels.com/photos/8617942/pexels-photo-8617942.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load);
    background-size: cover;
    background-position: center;
    position: relative;

}

.ipht4
{
    height: 70%;
    width: 100%;
    background-color: azure;
    background-image: url(https://images.pexels.com/photos/8197542/pexels-photo-8197542.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load);
    background-size: cover;
    background-position: center;
    position: relative;

}

.testm
{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.testm1
{
    width: 30%;
    height: 100%;
    text-align: center;
    position: relative;
}

.testmimg
{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: white;
    padding: 5px;
    border: 1px solid rgba(128, 127, 127,0.5);
    margin: 10px auto;
}

.testmimg img
{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.testm1 div h1
{
    font-weight: normal;
}

.testimdesc
{
    margin-top: 30px;
}

.testm2
{
    width: 30%;
    height: 100%;
    text-align: center;
}

.testm3
{
    width: 30%;
    height: 100%;
    text-align: center;
    position: relative;
}

.testm2 .testimdesc
{
    background-color: rgb(17, 201, 201);
    color: white;
    padding: 30px 15px;
}

.testm1 .testimdesc, .testm3 .testimdesc
{
    padding: 30px 15px;
    background-color: rgba(140, 207, 207, 0.1);
}


.fader::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white); 
  }


  .fadel::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%; 
    height: 100%;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white); 
  }

  .choose
{
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choose1
{
    height: 20px;
    width: 20px;
    background-color: white;
    margin: 5px 10px;
    border: 1px solid rgba(0, 0, 0,0.2);
}

.chooseb
{
    background-color: rgb(17, 201, 201);
}

footer
{
    height: 60vh;
    width: 100%;
    background-color: rgb(18, 18, 54);
    color: white;
    padding: 0 6%;
}

.fttop
{
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    border-bottom: 1px solid rgba(128, 128, 128,0.2);
    padding-top: 10vh;
}

.ftdesc
{
    height: auto;
    width: auto;
}

.ftql ul
{
   list-style-type: none;
}

.ftql ul li
{
    position: relative;
    margin-left: 10px;
    margin-top: 10px;
}

.ftql ul li::before
{
    content: '';
    border-bottom: 2px solid rgb(255, 255, 255);
    border-right: 2px solid rgb(255, 255, 255);
    height: 5px;
    width: 5px;
    position: absolute;
    transform: rotate(-45deg) translateY(-50%);
    top: 50%;
    left: -10px;
}


.ftcnt ul
{
    list-style-type: none;
}

.ftcnt ul li
{
    position: relative;
    margin-left: 20px;
    margin-top: 10px;
}

.ftcnt ul li:nth-child(1)::before
{
    content: '';
    background-image:url('../Images/maps-and-flags\ \(1\).png');
    background-size: contain;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
}

.ftcnt ul li:nth-child(2)::before
{
    content: '';
    background-image:url('../Images/phone-call.png');
    background-size: contain;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
}

.ftcnt ul li:nth-child(3)::before
{
    content: '';
    background-image:url('../Images/email.png');
    background-size: contain;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
}



.glrtp
{
    height: 50px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 30px;
}

.glrtp div
{
    height: 50px;
    width: 80px;
    background-image: url(https://images.pexels.com/photos/36717/amazing-animal-beautiful-beautifull.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: center;
    background-size: cover;
}

.glrbt
{
    height: 50px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    
}

.glrbt div
{
    height: 50px;
    width: 80px;
    background-image: url(https://images.pexels.com/photos/2080960/pexels-photo-2080960.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load);
    background-position: center;
    background-size: cover;
}

.ftnews
{
    width: 300px;
}

.ftnews p
{
    margin-top: 30px;
    margin-bottom: 20px;
}

.ftnews div
{
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ftnews div input
{
    width: 70%;
    height: 100%;
    border: 0;
    font-size: large;
    border: 0;
    outline: none;
}

.ftnews div button
{
    width: 25%;
    height: 40px;
    border: 0;
    background-color: rgb(17, 201, 201);
    color: white;
    font-size: large;
}

footer h1
{
    font-size: 25px;
    font-family: cursive;
    margin-bottom: 20px;
}

.ftrbt
{
    height: 10vh;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ftrbtr
{
    height: auto;
    width: auto;

}
.ftrbtr ul
{
    height: auto;
    width: auto;
    display: flex;
    list-style-type: none;
}

.ftrbtr ul li
{
    padding: 0 20px;
    border-right: 1px solid rgba(128, 128, 128,0.2);
}

.ftrbtr ul li a
{
    text-decoration: none;
    color: white;
}

.ftctnim
{
    height: auto;
    width: 100%;
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
}

.fttwt
{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 10px;
    border: 1px solid white;
    
}

.fttwt img
{
    height: 20px;
    width: 20px;
}

.ftfb
{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 10px;
    border: 1px solid white;
    
}

.ftfb img
{
    height: 20px;
    width: 20px;
}

.ftyt
{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 10px;
    border: 1px solid white;
    
}

.ftyt img
{
    height: 20px;
    width: 20px;
}

.ftlin
{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 10px;
    border: 1px solid white;
    
}

.ftlin img
{
    height: 20px;
    width: 20px;
}